<div class="container-fluid">
  <div class="row">
    <div *ngFor="let p of photos" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <div class="card mt-3">
        <img class="card-img-top" src="{{p.url}}" alt="{{p.name}}">
        <div class="card-body">
          <h4 class="card-title">{{p.name}}</h4>
          <button class="btn btn-primary">Show details</button>
          <button *ngIf="isLoggedUserPhoto(p.userId)" (click)="deletePhoto(p.id)" class="btn btn-danger ml-2">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>